#!/bin/bash
#description: Log Mapper Flask Server

# Get function from functions library
. /etc/init.d/functions

#LM_CONF


#Start the service
start() {
        echo -n "Starting Log Mapper Flask server" | logger
        cd $LM_INSTALL_LOC
	    sudo -u $LM_MAPPER_USER python3 application.py 1>"$LM_INSTALL_LOC/log/logmapper-web.log" 2>&1 &
        
        ### Create the lock file ###
        touch /var/lock/subsys/logmapper-web
        #success $"Log Mapper Flask server startup"
        echo "OK."
        echo
}

# Restart the service
stop() {
        echo -n "Stopping Log Mapper Flask server" | logger
        killproc logmapper-web
        ### Now, delete the lock file ###
        rm -f /var/lock/subsys/logmapper-web
        echo
}

if [[ $EUID -ne 0 ]]; then
   echo "This script must be run as root" 
   exit 1
fi


### main logic ###
case "$1" in
  start)
        start
        ;;
  stop)
        stop
        ;;
  status)
        status logmapper-web
        ;;
  restart|reload|condrestart)
        stop
        start
        ;;
  *)
        echo $"Usage: $0 {start|stop|restart|reload|status}"
        exit 1
esac

exit 0

