#!/bin/bash
#description: Caddy Server for Flask

# Get function from functions library
. /etc/init.d/functions

#LM_CONF

#Start the service
start() {
    echo -n "Starting Caddy Server for  Flask server" | logger
    sudo -u $LM_MAPPER_USER /usr/local/bin/caddy 1>"$LM_INSTALL_LOC"/log/logmapper-caddy.log 2>&1 &
    ### Create the lock file ###
    touch /var/lock/subsys/logmapper-caddy
    #success $"Caddy Server for Flask server startup"
    echo "OK."
    echo
}

# Restart the service
stop() {
    echo -n "Starting Caddy Server for Flask server" | logger
    killproc logmapper-caddy
    ### Delete the lock file ###
    rm -f /var/lock/subsys/logmapper-caddy
    echo
}

#!/bin/bash
if [[ $EUID -ne 0 ]]; then
   echo "This script must be run as root" 
   exit 1
fi


### main logic ###
case "$1" in
  start)
        start
        ;;
  stop)
        stop
        ;;
  status)
        status logmapper-caddy
        ;;
  restart|reload|condrestart)
        stop
        start
        ;;
  *)
        echo $"Usage: $0 {start|stop|restart|reload|status}"
        exit 1
esac

exit 0

